{% load static %}
{% load catalog_tags %}
<header class="py-3 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      <a href="#" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="#ec6f0e" class="bi bi-book-half" viewBox="0 0 16 16">
          <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
        </svg>
        <span class="fs-4" style="color: #2e5e45; font-weight: bold;">Литературная гостиная</span>
      </a>
      <div class="d-flex align-items-center">
        <form class="w-100 me-3">
          <input type="search" class="form-control" placeholder="Поиск..." aria-label="Search">
        </form>
        {% if request.user.is_authenticated %}
            <div class="flex-shrink-0 dropdown">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                {% if user.avatar %}
                  <img src="{% mediapath user.avatar %}" alt="mdo" style="width: 32px; height: 32px;" class="rounded-circle">
                {% else %}
                  <img src="{% static 'img/default_avatar.png' %}" alt="mdo" style="width: 32px; height: 32px;" class="rounded-circle">
                {% endif %}
              </a>
              <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item" href="{% url 'account:update_profile' %}">Редактировать профиль</a></li>
                <li><a class="dropdown-item" href="{% url 'account:password_change' %}">Сменить пароль</a></li>
                <li><a class="dropdown-item" href="{% url 'account:profile' %}">Профиль</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'account:logout' %}">Выйти</a></li>
              </ul>
            </div>
        {% endif %}
      </div>
    </div>
</header>
<nav class="py-2 mb-4 border-bottom" style="background-color: #d7e0eb;">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a href="{% url 'clients:home' %}" class="nav-link link-dark px-2 active" aria-current="page">Главная</a></li>
            {% if perms.clients.view_client or user.is_superuser %}
                <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle nav-link link-dark px-2 active" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Клиенты</a>
                      <ul class="dropdown-menu" aria-labelledby="dropdown01">
                        <li><a class="dropdown-item" href="{% url 'clients:client_list' %}">Список клиентов</a></li>
                        <li><a class="dropdown-item" href="{% url 'clients:client_create' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" class="bi bi-plus-circle-fill" viewBox="0 0 16 16" style="vertical-align: -.25em;">
                              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                            </svg>
                            Добавить клиента
                        </a></li>
                      </ul>
                </li>
            {% endif %}
            {% if perms.account.view_user or user.is_superuser %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-link link-dark px-2 active" href="#" id="dropdown02" data-bs-toggle="dropdown" aria-expanded="false">Пользователи</a>
                      <ul class="dropdown-menu" aria-labelledby="dropdown02">
                            <li><a class="dropdown-item" href="{% url 'account:user_list' %}">Список пользователей</a></li>
                      </ul>
                </li>
                {% endif %}
                {% if perms.mailings.view_recipient or user.is_superuser %}
                    <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle nav-link link-dark px-2 active" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Рассылки</a>
                          <ul class="dropdown-menu" aria-labelledby="dropdown03">
                            <li><a class="dropdown-item" href="{% url 'mailings:recipient_list' %}">Список рассылок</a></li>
                            <li><a class="dropdown-item" href="{% url 'mailings:recipient_create' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" class="bi bi-plus-circle-fill" viewBox="0 0 16 16" style="vertical-align: -.25em;">
                                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                                </svg>
                                Добавить рассылку
                            </a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'mailings:mailing_list' %}">Список параметров рассылки</a></li>
                            <li><a class="dropdown-item" href="{% url 'mailings:mailing_create' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" class="bi bi-plus-circle-fill" viewBox="0 0 16 16" style="vertical-align: -.25em;">
                                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                                </svg>
                                Добавить параметр рассылки
                            </a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'mailings:message_list' %}">Список писем</a></li>
                            <li><a class="dropdown-item" href="{% url 'mailings:message_create' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" class="bi bi-plus-circle-fill" viewBox="0 0 16 16" style="vertical-align: -.25em;">
                                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                                </svg>
                                Добавить письмо
                            </a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'logs:logs_list' %}">Отчёт о рассылках</a></li>
                          </ul>
                    </li>
            {% endif %}
        <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle nav-link link-dark px-2 active" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">Блог</a>
              <ul class="dropdown-menu" aria-labelledby="dropdown04">
                <li><a class="dropdown-item" href="{% url 'blog:blog_view' %}">Посты</a></li>
                {% if user.is_authenticated and perms.blog.add_post or user.is_superuser %}
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'blog:blog_create' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" class="bi bi-plus-circle-fill" viewBox="0 0 16 16" style="vertical-align: -.25em;">
                          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                        </svg>
                        Добавить пост
                    </a></li>
                {% endif %}
              </ul>
        </li>
        <li class="nav-item"><a href="#" class="nav-link link-dark px-2">О нас</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Контакты</a></li>
      </ul>
      <ul class="nav">
        {% if request.user.is_authenticated %}
            <li class="nav-item nav-link link-dark px-2" style="margin-top: 1.5px;">Здравствуйте, {{ request.user.first_name|default:request.user.username }}</li>
        {% else %}
            <li class="nav-item"><a href="{% url 'account:login' %}" class="nav-link link-dark px-2">Войти</a></li>
            <li class="nav-item"><a href="{% url 'account:register' %}" class="nav-link link-dark px-2">Зарегистрироваться</a></li>
        {% endif %}
        <li>
            <svg id="specialButton" style="cursor:pointer; margin-top: 6px;" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#027dc5" class="bi bi-eyeglasses" viewBox="0 0 16 16"><title>Версия для слабовидящих</title>
              <path d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4m2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A1.993 1.993 0 0 0 8 6c-.532 0-1.016.208-1.375.547M14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0"/>
            </svg>
        </li>
      </ul>
    </div>
</nav>
{% if messages %}
    {% for message in messages %}
        <div class="mx-auto col-3 alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
          <strong>{{ message|safe }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
